.main{
    padding-top: 86rpx;
    .qrBox{
        display: flex;
        justify-content: center;
        margin-bottom: 100rpx;
    }
    .barBox{
        display: flex;
        justify-content: center;
    }
}