@import './pages/index/index.scss';
@import './scss/var.scss';
@import './assets/image/indexIcon/iconfont.wxss';

.container {
    height: 100%;
    color: $green;
}

text {
    font-family: Microft Yahei;
    font-size: 24rpx;
}