.main {
  padding: 0 20rpx;
  padding-top: 30rpx;

  .circleBox {
    display: flex;
    flex-direction: row;
    padding: 0 16rpx;
    height: 230rpx;
    margin-bottom: 60rpx;
    background-color: #ffffff;
    box-shadow: 0rpx 0rpx 10rpx 0rpx rgba(159, 159, 159, 0.3);
    position: relative;

    .collect {
      position: absolute;
      top: 15rpx;
      right: 15rpx;
      font-size: 36rpx !important;
    }

    .imageBox {
      height: 244rpx;
      width: 184rpx;
      position: relative;

      margin-right: 30rpx;

      .img {
        height: 244rpx;
        width: 184rpx;
        position: absolute;
        top: -30rpx;
      }
    }

    .textBox {
      padding-top: 16rpx;
      display: flex;
      flex-direction: column;

      .name {
        font-size: 28rpx;
        line-height: 42rpx;
        font-weight: bold;
        color: #181818;
      }

      .author {
        font-size: 24rpx;
        line-height: 36rpx;
        color: #1a7bff;
      }

      .summary {
        font-size: 20rpx;
        line-height: 30rpx;
        color: #676767;
        text-align: justify;
        width: 460rpx;
      }
    }
  }
}